<h1>Your Surveys</h1>

<div class="container">
    <form>
      <h2>Favorite food survey</h2>
      <div class="form-group col-md-6">
        <label for="question">What's your favorite food?'</label><br>
        <label for="options">Options:</label>
        <select class="form-control" id="options" required>
          <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
        <br>{{submitMessage}}
      </div>


    </form>
</div>
