<div class="container">
  <h1>{{welcome}}</h1>
  <p>{{content}}</p>
  <ul>
    <!-- using ngfor to dsplay an array of items -->
    <!-- <li *ngFor="let hero of heroes">{{hero.name}}</li> -->
    <li>
      <h3>Select new hero:</h3>
      <select [(ngModel)]="selectedValue">
        <option *ngFor="let hero of heroes">
        {{hero.name}}
        </option>
      </select>
    </li>
  </ul>
  <h2>Your favorite hero is: {{selectedValue | uppercase}}</h2>
  <!-- use ngIf to display a message if there are more than 3 names in list -->
  <!-- <p *ngIf="heroes.length > 3">There are many heroes!</p> -->

</div>
