/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('assets/images/background-1200h-patrick-tomasso.png');
  background-size: cover;
  color: #fff;
  text-align: center;
}

footer {
  background-color: #fff;
  color: #000;
}

footer a:hover {
  color: lightblue;
}
