/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('assets/images/background-1200h-patrick-tomasso.png');
  background-size: cover;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: yellow;
}

footer a:link {
  color: #fff;
}

footer hr {
  background-color: yellow;
  border: 0;
  height: 2px;
}
